<div class="row">
  <div class="col col-md-4">
    <h2>
      <%= @usuario[:nome] %>
      <% if @usuario[:idCadastro] == session[:idCadastro] %>
        <span class="glyphicon glyphicon-edit"></span>
      <% end %>
    </h2>
  </div>
  <div class="col col-md-4" style="margin-top:30px;">
    @<%= @usuario[:username] %>
  </div>
  <div class="col col-md-4" style="margin-top:30px;">
    <%=  DateTime.parse(@usuario[:dataNasc]).strftime("%d/%m/%Y") %>
  </div>
</div>
<hr>
<h4>Histórico de festas</h4>

<!-- SELECT * FROM Checkin WHERE idUsuario = @usuario[:idCadastro] -->
