<h2>
  <%#= @usuario[:nome] %>
  <%# if @usuario[:idCadastro] == session[:idCadastro] %>
    <span class="glyphicon glyphicon-edit"></span>
  <%# end %>
</h2>
<%= @usuario[0] %>


<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
